@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer for custom theme variables and global styles */
@layer base {
	:root {
		--background: #08080e;

		--foreground: #ececec;

		--primary: #4c4083;

		--secondary: #605492;

		--accent: #42413e;
	}

	* {
		box-sizing: border-box;
		border-color: var(--border);
		text-decoration: none;
	}

	html {
		font-family: "Rubik", sans-serif;
		background-color: var(--background);
		color: var(--foreground);
		overflow-x: hidden;
		scroll-behavior: smooth;
		margin: 0;
		padding: 0;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	hr {
		border-color: var(--accent);
		border-top-width: 2px;
		border-radius: 100%;
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		opacity: 0.5;
	}
}

/* Components layer for reusable components */
@layer components {
	.card-shadow {
		box-shadow: 0 0 8px 2px var(--primary);
		transition: box-shadow 0.3s ease-in-out;
	}

	.card-shadow:hover {
		box-shadow: 0 0 16px 4px var(--primary);
	}

	.btn {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 140px;
		border-radius: 0.5rem;
		padding: 0.75rem;
		gap: 0.5rem;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 1.25rem;
		box-shadow: 0 0 8px 2px var(--primary);
		transition: box-shadow 0.3s ease-in-out;
	}

	.btn:hover {
		box-shadow: 0 0 16px 4px var(--primary);
		text-decoration-line: underline;
	}

	.btn:active {
		opacity: 1;
		transform: scale(0.98);
	}

	.btn:disabled,
	.btn[disabled] {
		cursor: not-allowed;
		opacity: 0.65;
	}

	.title {
		color: var(--foreground);
		font-family: "Platypi", sans-serif;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.icon {
		transition: transform 0.3s ease-in-out;
	}

	.icon:hover {
		transform: scale(1.2);
	}
}

/* Utilities layer for custom utility classes */
@layer utilities {
	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--secondary);
		border-radius: 10px;
		border: 2px solid var(--background);
	}

	::selection {
		background: var(--accent);
	}

	.hero-background {
		background: linear-gradient(330deg, var(--background) 60%, var(--primary) 80%, var(--secondary) 100%);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

	.hero-map {
		display: flex;
		width: 200%;
	}

	.hero-map img {
		width: 50%;
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2.5rem;
		padding: 1rem;
		border-top-left-radius: 20%;
		border-top-right-radius: 20%;
	}
}
