@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: #08080e;
    --foreground: #ececec;

    --card: #0e0e11;
    --card-foreground: #ececec;

    --primary: #4c4083;
    --secondary: #605492;
    --accent: #333023;

    --muted: #15151d;
    --muted-foreground: #c4c4c4;

    --border: #29253d;
  }

  .light {
    --background: #f7f3f7;
    --foreground: #1e1e1e;

    --card: #ffffff;
    --card-foreground: #1e1e1e;

    --primary: #39496d;
    --secondary: #50a6b9;
    --accent: #34a181;

    --muted: #e0e0e0;
    --muted-foreground: #616161;

    --border: #e0e0e0;
  }

  * {
    box-sizing: border-box;
    border-color: var(--border);
    text-decoration: none;
  }

  html {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
}

/* Components layer for custom reusable components */
@layer components {
  hr {
    border-color: var(--border);
  }

  /* Headers and typography */
  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
  }
  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  h5 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
  }

  .card {
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: 0.5rem;
    padding: 1rem;
    border-width: 1px;
    border-color: var(--border);
    transition: box-shadow 0.3s ease-in-out;
  }
  .card:hover {
    box-shadow: 4px 4px 8px 2px var(--border);
  }

  .btn {
    background-color: var(--muted);
    color: var(--foreground);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-width: 1px;
    border-color: var(--border);
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: box-shadow 0.3s ease-in-out;
  }
  .btn:hover,
  .btn-round:hover {
    box-shadow: 0 0 8px 2px var(--border);
    text-decoration-line: underline;
  }
  .btn:active,
  .btn-round:active {
    opacity: 0.2;
    transform: scale(0.98);
  }

  .animate-scale {
    transition: transform 0.3s ease-in-out;
  }
  .animate-scale:hover {
    transform: scale(1.2);
  }
}

/* Utilities layer for custom utility classes */
@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
    border: 2px solid var(--background);
  }

  ::selection {
    background: var(--accent);
  }

  .hero-background {
    background: linear-gradient(330deg, var(--background) 60%, var(--primary) 80%, var(--secondary) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  .hero-map {
    display: flex;
    width: 200%;
  }

  .avatar {
    border-radius: 50%;
    box-shadow: 0 0 8px 2px var(--primary);
    transition: box-shadow 0.3s ease-in-out;
  }

  .footer-container {
    background-color: var(--muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    margin-top: 2.5rem;
    padding: 1.5rem;
    border-top-left-radius: 1%;
    border-top-right-radius: 100%;
    transition: box-shadow 0.3s ease-in-out;
  }
}

/* Keyframe animation for floating effect */
@keyframes float {
  0%,
  100% {
    transform: translate(0, 0px);
  }
  60% {
    transform: translate(0, 8px);
  }
}
.animate-float {
  animation: float 2s ease-in-out infinite;
}

/* Keyframe animation for scrolling map effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 60s linear infinite;
}
