@import "tailwindcss";

/*
  Theme variables
*/
:root {
  --background: #09080d;
  --foreground: #ebebeb;
  --primary: #4c4083;
  --secondary: #675c92;
  --muted: #2f2f3d;
  --muted-foreground: #a0a0a0;

  /*
    Base styles
  */
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/*
  Color and font theme tokens
*/
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-danger: var(--danger);

  --font-default: "Inter", sans-serif;
  --font-display: "Merriweather Sans", sans-serif;
}

/*
  Global resets and accessibility
*/
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button,
  br {
    border-color: var(--muted);
  }
}

/*
  Typography
*/
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: var(--font-display);
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: var(--font-display);
}
@media (min-width: 1024px) {
  h2 {
    font-size: 2.125rem;
    line-height: 2.125rem;
  }
}
h3 {
  font-size: 1.875rem;
  line-height: 1.875rem;
  font-weight: 700;
  font-family: var(--font-display);
}
h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-family: var(--font-display);
}
h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: var(--font-display);
}
h6 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  font-family: var(--font-display);
}

/*
  UI elements
*/
.card {
  background-color: var(--background);
  padding: 1.5rem;
  border-radius: 0.75rem;
}
@media (min-width: 768px) {
  .card {
    padding: 1.25rem;
    border: 1px solid var(--primary);
  }
}

.label {
  background-color: color-mix(in srgb, var(--secondary) 60%, transparent);
  color: var(--foreground);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  user-select: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--primary);
}

/*
  Buttons
*/
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--primary);
  border: 2px solid var(--muted);
  border-radius: 0.5rem;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  transform: scale(1.025);
  filter: brightness(0.8);
  border-color: var(--accent);
}

.btn:active {
  transform: scale(1);
  filter: brightness(0.4);
}

/*
  Utilities
*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 2px solid var(--background);
}

::selection {
  background: color-mix(in srgb, var(--secondary) 50%, transparent);
  color: var(--foreground);
}
